<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        
        <title>Japanese Snack Database</title>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="columns" id="apiData">
                    <div class="column is-6">
                        <article class="media" v-for="food in foodResults">
                            <figure class="media-left">
                                <p class="image is-128x128">
                                    <img :src="food.image_path">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="field">
                                    <table class="table">
                                        <tr>
                                            <td><b>Name:</b></td>
                                            <td>{{ food.name }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Taste:</b></td>
                                            <td>{{ food.taste | capitalize }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Region:</b></td>
                                            <td>{{ food.region }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Link:</b></td>
                                            <td><a :href="food.url" target="_blank">Buy from here!</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="column is-6">
                        <article class="media" v-for="drink in drinkResults">
                            <figure class="media-left">
                                <p class="image is-128x128">
                                    <img :src="drink.image_path">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="field">
                                    <table class="table">
                                        <tr>
                                            <td><b>Name:</b></td>
                                            <td>{{ drink.name }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Taste:</b></td>
                                            <td>{{ drink.taste | capitalize }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Region:</b></td>
                                            <td>{{ drink.region }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Link:</b></td>
                                            <td><a :href="drink.url" target="_blank">Buy from here!</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <script src="main.js"></script>
    </body>
</html>