<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <link rel="stylesheet" type="text/css" href="custom.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        
        <title>Japanese Snack Database</title>
    </head>
    <body>
        <section class="section">
            <br />
            <br />
            <div class="container">
                <div class="columns" id="vueForm">
                    <div class="column is-3"></div>
                    <div class="column is-6" style="text-align: center;" id="form">
                        <h1 id="formTitle">日本のキャンディー</h1>
                        <br />
                        <br />
                        <div class="columns">
                            <div class="column is-offset-1 is-10">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Name</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                <input v-model="form.name" class="input" type="text" placeholder="Snack Name">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-utensils"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Region</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                <input v-model="form.region" class="input" type="text" placeholder="Region">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Taste</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-narrow">
                                            <div class="control">
                                                <div class="select is-fullwidth">
                                                    <select v-model="form.taste">
                                                        <option>Sweet</option>
                                                        <option>Savory</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">URL</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded has-icons-left">
                                                <input v-model="form.url" class="input" type="text" placeholder="URL">
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-link"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <br />
                              
                                <div class="field is-horizontal is-centered">
                                    <div class="field-label">
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <div class="control has-text-centered">
                                                <button class="button is-info" @click="addNewCandy()">
                                                    Add Food
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            var app = new Vue({
                el: '#vueForm',
                data: {
                    form: {
                        name: '',
                        region: '',
                        taste: '',
                        url: '',
                    }
                },
                methods: {
                    addNewCandy(){
                        axios.post('http://192.168.1.103:5000/api/japan/candy', {
                            name: this.name,
                            region: this.region,
                            taste: this.taste,
                            url: this.url
                        }).then((response) => {})
                        .catch((e) => {
                            console.error(e)
                        })
                    }
                }
            })
        </script>
    </body>
</html>