[Unit]
Description=Gunicorn instance to server the backend API for food.myjapandb.com
After=network.target

[Service]
User=andrew
Group=www-data
WorkingDirectory=/var/www/Japanese-Food-Database/backend
Environment="PATH=/var/www/Japanese-Food-Database/backend/venv/bin"
Environment=MYSQL_USERNAME=api_user
Environment=MYSQL_PASSWORD=xhkbM8JKVNq6VvBb
ExecStart=/var/www/Japanese-Food-Database/backend/venv/bin/gunicorn --workers 2 --bind 127.0.0.1:5000 api:app

[Install]
WantedBy=multi-user.target
