<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

        <link rel="stylesheet" href="index.css" />
        
        <title>Japanese Snack Database</title>
    </head>
    <body>
        <section class="section">
            <div class="container">
                <div class="columns" id="apiData">
                    <div class="column is-6">
                        <h2 class="title has-text-centered">Food</h2>
                        <article class="media" v-for="food in foodResults" :key="food.food_id">
                            <figure class="media-left">
                                <p class="image is-96x96 image-wrapper">
                                    <img :src="food.image_path">
                                </p>
                            </figure>
                            <div class="media-content">
                                <p>
                                    <strong>
                                    {{ food.name }}
                                    </strong>
                                    <br>
                                    <span class="icon is-medium">
                                        <i class="fas fa-utensils fa-lg"></i>
                                    </span>
                                    {{ food.taste | capitalize }}
                                    <br>
                                    <span class="icon is-medium">
                                        <i class="fas fa-map-marker-alt fa-lg"></i>
                                    </span>
                                    {{ food.region }}
                                    <br>
                                    <span class="icon is-medium">
                                        <i class="fas fa-shopping-cart fa-lg"></i>
                                    </span>
                                    <a :href="food.url" target="_blank">Buy here!</a>
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="column is-6">
                        <h2 class="title has-text-centered dividing-header">Drinks</h2>
                        <article class="media" v-for="drink in drinkResults" :key="drink.drink_id">
                            <figure class="media-left">
                                <p class="image is-128x128 image-wrapper">
                                    <img :src="drink.image_path">
                                </p>
                            </figure>
                            <div class="media-content">
                                <p>
                                    <strong>
                                        {{ drink.name }}
                                    </strong>
                                    <br>
                                    <span class="icon is-medium">
                                        <i class="fas fa-utensils fa-lg"></i>
                                    </span>
                                    {{ drink.taste | capitalize }}
                                    <br>
                                    <span class="icon is-medium">
                                        <i class="fas fa-map-marker-alt fa-lg"></i>
                                    </span>
                                    {{ drink.region }}
                                    <br>
                                    <span class="icon is-medium">
                                        <i class="fas fa-shopping-cart fa-lg"></i>
                                    </span>
                                    <a :href="drink.url" target="_blank">Buy here!</a>
                                </p>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </section>
        <script src="main.js"></script>
    </body>
</html>