.media {
    max-width: 600px;
    margin: 0 auto;
    border: 3px solid #cfd0d1;
    padding: 1em 1.5em 0.5em 1.5em;
    border-radius: 0.3em;
}

.image-wrapper p {
    max-width: 100%;
}

.image-wrapper {
    width: 100%;
    -webkit-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

.image-wrapper:hover {
    width: 75%;
    height: 75%;
}